body {
  background-color: blanchedalmond; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
  text-align: center;
}

.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px);
  margin-bottom: 16px;
}

.form-container button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-bottom: 8px; /* Add spacing between buttons */
}

.form-container button:hover {
  background-color: #0056b3;
}

.no-goals-label {
  margin-top: 50px; /* Adjust top margin for vertical centering */
}

#goal-buttons {
  background-color: #28a745;
}